[submodule "shared/third_party/codex"]
	path = shared/third_party/codex
	url = https://github.com/aegean-org/codex.git
	shallow = true
[submodule "shared/third_party/ghostty"]
	path = shared/third_party/ghostty
	url = https://github.com/ghostty-org/ghostty.git
	shallow = true
